/* Couleurs de base */
:root {
    --primary-color: #002852;
    --secondary-color: #0056b3;
    --background-light: #f8f9fa;
    --background-dark: #343a40;
    --text-light: #ffffff;
    --text-dark: #000000;
    --accent-color: #ffc107;
    --error-color: #dc3545;
    --blue-color: #0000FF;
    --success-color: #28a745; /* Couleur de succès (vert) */
    --success-hover-color: #218838; /* Couleur de succès au survol */
}

/* Styles pour les titres */
h1 {
    font-family: 'Calibri', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-dark);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-dark) !important;
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--primary-color); /* Texte en bleu */
    text-align: center;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Styles pour le conteneur du titre */
.container-fluid.bg-light {
    background-color: var(--background-light) !important;
    padding: 10px;
    border-bottom: 3px solid var(--primary-color);
}

/* Styles pour la navigation */
.navbar {
    background-color: var(--background-dark);
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Calibri', sans-serif !important;
    font-size: 1rem !important;
    text-transform: uppercase !important;
    color: var(--text-light) !important;
    margin: 0 30px !important;
    transition: all 0.3s ease !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary-color) !important;
}

/* Styles pour les cartes */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Styles pour les boutons */
.btn {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.btn-warning {
    background-color: var(--accent-color);
    color: var(--text-light);
}

.btn-warning:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 193, 7, 0.3);
}

.btn-danger {
    background-color: var(--error-color);
    color: var(--text-light);
}

.btn-danger:hover {
    background-color: #c82333;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}

.btn-success {
    background-color: var(--success-color); /* Couleur de fond */
    color: var(--text-light); /* Couleur du texte */
    margin: 0px 5px; /* 8px (haut/bas) - 20px (gauche/droite) */

}

.btn-success:hover {
    background-color: var(--success-hover-color); /* Couleur de fond au survol */
    transform: translateY(-2px); /* Légère translation vers le haut */
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3); /* Ombre portée */
}

/* Styles pour les tables */
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-light);
}

.table thead {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table th {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

/* Styles pour les formulaires */
form.mb-4 {
    margin: 20px 0;
}

.form-control {
    width: 100%;
    font-size: 16px;
    color: var(--text-dark);
    background-color: var(--background-light);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Styles pour les messages d'erreur */
.error-message {
    color: var(--error-color);
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Style pour l'en-tête */
.header {
    background-color: var(--background-dark);
    padding: 20px 0;
    border-bottom: 3px solid var(--primary-color);
}

.header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-light);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

.liste-ingredients {
    list-style-type: none;  /* Supprimer les puces par défaut */
    padding-left: 0;        /* Supprimer le padding par défaut */
}

.liste-ingredients li {
    margin-bottom: 5px;     /* Espacement entre les éléments */
    padding-left: 20px;     /* Ajouter un espace pour les puces personnalisées */
    position: relative;
}

.liste-ingredients li::before {
    content: "•";           /* Utiliser un caractère personnalisé pour la puce */
    color: #007bff;         /* Couleur de la puce */
    font-size: 1.2em;       /* Taille de la puce */
    position: absolute;
    left: 0;
    top: 0;
}